NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Stockbit Auto-Login Credentials (REQUIRED for token auto-refresh)
STOCKBIT_USERNAME=
STOCKBIT_PASSWORD=
STOCKBIT_PLAYER_ID=

CRON_SECRET=
GEMINI_API_KEY=